@import url('https://fonts.googleapis.com/css2?family=Prata&display=swap');
@import "./assets/fonts/JustCosmic.css";
@import "tailwindcss";

/* setting tailwind theme variables */
@theme {
  --colour-border: var(--border);
  --colour-background: var(--background);
  --colour-stars: var(--stars);
  --colour-hovertext: var(--hovertext);

  --colour-primary: var(--primary);
  --colour-secondary: var(--secondary);

  --colour-card: var(--card);

  --font-prata: "Prata", serif;
  --font-justcosmic: "JustCosmic", serif;

  --animate-float: float-up-down 2s ease-in-out infinite both;
  --animate-float-longer: float-up-down 3s ease-in-out infinite both;
  --animate-pulse-subtle: pulse-subtle 10s ease-in-out infinite;
  --animate-fade-in: fade-in 0.7s ease-out forwards;

  /* floating planets */
  @keyframes float-up-down {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-15px);
    }
    100% {
      transform: translateY(0);
    }
  }

  @keyframes pulse-subtle {
    0%,
    100%{
      opacity: 1;
    }
    50%{
      opacity: 0.2;
    }
  }

  @keyframes fade-in {
    from {
      opacity: 0;
      transform: translateY(20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

}

@reference "tailwindcss/theme.css";

/*  setting values for colours, spacing, scrolling between light and dark mode */
@layer base{
  :root{
    --background: #151515;
    --primary: #F6E6B2;
    --secondary: #151515;
    --stars: #FAF5F2;
    --hovertext: #F5F2EB;
  }

  .light{
    --background: #FAF5F2;
    --primary: #4F2914;
    --secondary: #FAF5F2;
    --stars: #FAF5F2;
    --hovertext: #9c887c;
  }

  * padding{
    
  }

  html {
    @apply scroll-smooth;
  }

  body{
    font-family: "JustCosmic", serif;
    background-color: var(--background);
    color: var(--primary);
    @apply transition-colors duration-300;
    font-feature-settings: "rlig" 1, "calt" 1;
  }
}

/* setting device width margins */
@utility container{
  margin-inline: auto;
  padding-inline: 2rem;

  @media (width >= 640px){
    max-width: 640px;
  }

  @media (width >= 768px){
    max-width: 768px;
  }

  @media (width >= 1024px){
    max-width: 1024px;
  }

  @media (width >= 1280px){
    max-width: 1280px;
  }

  @media (width >= 1400px){
    max-width: 1400px;
  }

}

/* utilities for extra components like cards stars */
@utility card-hover{
  @apply transition-transform duration-300 hover:scale-[1.02] hover:shadow-lg;
}

@utility text-glow{
  @apply relative;
  text-shadow: 0 0 10px rgba(167, 139, 250, 0.5);
}

@utility port-button {
  background-color: var(--primary);
  color: var(--secondary);
  @apply px-8 py-2 rounded-full font-prata transition-all 
         duration-100 hover:shadow-[0_00_10px_rgba(139,92,246,0.5)] hover:scale-105 active:scale-95;
}

@utility starbackground {
  background-color: var(--stars);
  @apply absolute rounded-full;
  box-shadow: 0 0 10px 2px rgba(250, 245, 242, 0.4);
}

/* whole site */
#root{
  max-width: 100%;
  margin: 0 auto;
  padding: 0;
  text-align: center;
}